<article class="container-fluid" data-ng-controller="technicalExposureController">
	<article>
		<div class="row">
			<div class="col-md-3">
				<h4>Programming Languages</h4>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<h4><small>{{technicalExposure.programingLanguages}}</small></h4>
			</div>
		</div>
		<hr class="resume-half-rule">
		<div class="row">
			<div class="col-md-3">
				<h4>Database</h4>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<h4><small>{{technicalExposure.database}}</small></h4>
			</div>
		</div>
		<hr class="resume-half-rule">
		<div class="row">
			<div class="col-md-3">
				<h4>Operating Systems</h4>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<h4><small>{{technicalExposure.operatingSystems}}</small></h4>
			</div>
		</div>
		<hr class="resume-half-rule">
		<div class="row">
			<div class="col-md-3">
				<h4>Other Tools</h4>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<h4><small>{{technicalExposure.otherTools}}</small></h4>
			</div>
		</div>
	</article>
</article>